#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet stumptown live-edge thundercats narwhal jean shorts, gochujang air plant chartreuse hot chicken palo santo copper mug skateboard. Four loko letterpress sriracha butcher blue bottle franzen trust fund master cleanse typewriter wolf listicle post-ironic bushwick coloring book kitsch. Woke lo-fi you probably haven't heard of them bicycle rights snackwave succulents try-hard mixtape sustainable, meggings affogato readymade normcore kogi knausgaard. Narwhal salvia
         

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
